{% extends "base.html" %}

{% block title %}Surveys{% endblock title %}

{% block content %}
<div class="survey">
  <h1>Surveys
  </h1>
  {% if survey_list %}
   <table id = "table" class = "table table-bordered">
        <thead>
            <tr>
                <th>Survey Name</th>
                <th>Questionnaire</th>
                <th>Partner Force</th>
                <th>Reporting Organization</th>
                <th>State</th>
                <th>Create Date</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>
           {% for survey in survey_list %}
            <tr>
                <td> <a href="{{ survey.get_absolute_url }}"> {{ survey.name }} </a></td>
                <td>{{ survey.questionnaire }} {{ survey.questionnaire.version }}</td>
                <td> <a href="{% url 'unit-update' unit_id=survey.unit.id %}"> {{ survey.unit.unit_abbrev }} </a></td>
                <td>{{ survey.reporting }} </td>
                <td>{{ survey.state }}</td>
                <td>{{ survey.updated | date:'d-M-Y' }}</td>
                <td> <a href="{% url 'response' survey_id=survey.id %}"
                        data-toggle="tooltip" data-placement="right" title="Click for Questions" >
                        <i class="fas fa-clipboard-list"></i>
                      </a>
                      <a href="{% url 'chart-5' survey_id=survey.id %}"
                        data-toggle="tooltip" data-placement="right" title="Click for Charts" >
                        <i class="fas fa-chart-area"></i>
                      </a>
                      <a href="{% url 'capability' survey_id=survey.id %}"
                        data-toggle="tooltip" data-placement="right" title="Click for Capabilities" >
                        <i class="fas fa-list"></i>
                      </a>
                      <a href="{% url 'assessment-summary' survey_id=survey.id %}"
                        data-toggle="tooltip" data-placement="right" title="Click for Assessment - Quad" >
                        <i class="fas fa-box"></i>
                      </a>
                      <a href="{% url 'assessment-capability' survey_id=survey.id %}"
                        data-toggle="tooltip" data-placement="right" title="Click for Assessment - Capabilities" >
                        <i class="fas fa-qrcode"></i>
                      </a>
                </td>

            </tr>
           {% endfor %}
        </tbody>
    </table>
  {% else %}
    <p>There are no Surveys defined.</p>
  {% endif %}
  {% include 'socat/button_survey.html' %}
  {% include 'socat/button_home.html' %}
</div>
{% endblock %}
