{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block extrajs %}
{{ form.media }}
{% endblock %}

{% block title %}Unit{% endblock title %}

{% block content %}
    <h1>Partner Force</h1>
    {{ form.media }}
    <form method="POST" action="{% url 'unit-create' %}">
      {% csrf_token %}
      <div class='form-errors' id='form-errors'>
       {{ form.non_field_errors }}
       {{ form.errors }}
       {{ form.search }}
       {{ form.search.errors }} 
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.unit |as_crispy_field  }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.unit_abbrev |as_crispy_field  }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.unit_type |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.country |as_crispy_field  }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.region |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.leader_text |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.engagement |as_crispy_field  }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.engagement_type |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.affiliation |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.mission |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.location_1 |as_crispy_field  }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.mgrs_1 |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.location_2 |as_crispy_field  }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.mgrs_2 |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.location_3 |as_crispy_field  }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.mgrs_3 |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.force |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.weapons |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.comms |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.mobility |as_crispy_field  }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.night_vision |as_crispy_field  }}
        </div>
      </div>

     <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.country_objectives |as_crispy_field  }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.southcom_objectives |as_crispy_field  }}
        </div>
     </div>
     <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.embassy_objectives |as_crispy_field  }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.socsouth_objectives |as_crispy_field  }}
        </div>
     </div>
     <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.diagram |as_crispy_field  }}
        </div>
     </div>
      <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
      <a href="{% url 'index' %}" class="btn btn-primary btn-block" role="button" aria-disabled="true">Cancel</a>

    </form
{% endblock %}
